.title{
    font-family: "Montserrat", "Roboto", "Arial", sans-serif;
    font-size: 85px;
    text-align: center;
    margin: 40px;
    background: #e6e6e6;
    padding: 18px;
    border: 5px solid black;
}

.recipe-list{
    font-size: 18px;
    background: #e6e6e6;
    padding: 32px;
    border: 5px solid black;
}